<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= titleTag %></title>

<link rel="stylesheet" href="/styles/main-<%- process.env.npm_package_version %>.min.css">
<script async type="module" src="/scripts/main-<%- process.env.npm_package_version %>.esm.min.js"></script>
<script async nomodule src="/scripts/main-<%- process.env.npm_package_version %>.iife.min.js"></script>

<% if (process.env.NODE_ENV === 'dev') { %>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
<% } %>
