<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs', { titleTag: 'A super title' }); %>
    </head>
    <body>
        <%- include('partials/header.ejs'); %>

        <!-- here goes the content -->

        <%- include('partials/footer.ejs'); %>
    </body>
</html>
